.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 10px;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background: #fff;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal_container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vh;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  background-color: rgba(33, 33, 33, 1);
  height: 32px;
  width: fit-content;
  align-items: center;
  border-radius: 8px;
  display: flex;
  padding: 4px 8px;
  font-size: 20px;
  line-height: 1.2;
  justify-content: center;
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

.modal__close-button {
  position: absolute;
  opacity: 40%;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-button-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  right: -42px;
  bottom: 100px;
  top: -3px;
  opacity: 100%;
  min-width: 40px;
  max-height: 40px;
  position: absolute;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__close-button_type_preview {
  top: 0px;
  right: -47px;
  padding: 0;
  opacity: 100%;
  cursor: pointer;
  background-image: url(../images/modalclose-x-icon.svg);
}

.modal__close-button_type_preview:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal_title-delete {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
}

.modal__submit-button {
  width: 156px;
  border: none;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  color: #fff;
  gap: 8px;
}

.modal__submit-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__submit-button--disabled {
  opacity: 50%;
  cursor: none;
}

.modal_delete {
  background-color: rgba(255, 101, 101, 1);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  padding: 16px 8px 16px 8px;
  margin-right: 20px;
  align-items: center;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.modal_cancel {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(33, 33, 33, 1);
  border: 1px solid rgba(33, 33, 33, 1);
  box-sizing: 1px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 16px 8px 16px 8px;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.modal_delete:hover {
  background-color: rgba(255, 51, 51, 1);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal_cancel:hover {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(33, 33, 33, 1);
  box-sizing: 1px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: solid rgba(33, 33, 33, 0.4) 1px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

.modal__input:hover {
  cursor: pointer;
  border: solid rgba(33, 33, 33, 1) 1px;
}

.modal__input_type_error {
  border: 1px, solid, rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 0.7);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 627px) {
  .modal__preview {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal__container {
    max-width: 330px;
    width: 100%;
    padding: 22px 12px 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .modal__image {
    max-width: 330px;
    width: 100%;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button-delete {
    display: block;
    right: 6px;
    top: -45px;
  }

  .modal__close-button_type_preview {
    top: -22px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-button {
    width: 100%;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 12px;
  }

  .modal__image {
    width: 100%;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
    font-weight: 500;
  }

  .modal__caption {
    font-size: 16px;
  }
}
